body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4);
}
